<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>HowisTheWeatherToday</title>
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </head>
    <nav>
        <ul>
            <li class="logo">오늘 날씨 어때?</li>
            <div class="items">
                <li><a href="/">Home</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/mypage">My Page</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/logout">Logout</a></li>
            </div>
            <li class="search-icon">
                <input type="search" placeholder="Search">
                <label class="icon">
                    <span class="fas fa-search"></span>
                </label>
            </li>
        </ul>
    </nav>

    <%- body %>

    </body>

</html>

<!-- https://www.youtube.com/watch?v=-FLzc77MstY -->
