<body>
    <header>
        <div class="container">
            <div class="profile">
                <div class="profile-image">
                    <img src="https://d2qp0siotla746.cloudfront.net/img/use-cases/profile-picture/template_3.jpg"
                        alt="User">
                </div>
                <div class="profile-user-settings">
                    <h1 class="profile-user-name">username</h1>
                    <button class="btn profile-edit-btn">Edit Profile</button>
                    <button class="btn profile-settings-btn" aria-label="Profile Settings">
                        <i class="fas fa-cog" aria-hidden="aria-hidden"></i>
                    </button>
                </div>
                <div class="profile-stats">
                    <ul>
                        <li>
                            <span class="profile-stat-count">164</span>
                            posts
                        </li>
                        <li>
                            <span class="profile-stat-count">188</span>
                            followers
                        </li>
                        <li>
                            <span class="profile-stat-count">206</span>
                            following
                        </li>
                    </ul>
                </div>
                <div class="profile-bio">
                    <p>
                        Lorem ipsum dolor ist amet...
                    </p>
                </div>
            </div>
            <!-- end of profile section -->
        </div>
        <!-- end of container -->
    </header>
    <main>
        <div class="container">
            <div class="gallery">
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81481/list.street_list_627c6d5b9e37e.jpg.250?20220512111527"
                        alt="Gallery-1" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81479/list.street_list_627c6deb925ff.jpg.250?20220511090832"
                        alt="Gallery-1" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81461/list.street_list_627c6fbdbcf70.jpg.250?"
                        alt="Gallery-3" class="gallery-image">
                    <div class="gallery-item-type">
                        <span class="visually-hidden">Gallery</span>
                        <i class="fas fa-clone" aria-hidden></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81424/list.street_list_627c7247eb336.jpg.250?20220510091927"
                        alt="Gallery-1" class="gallery-image">
                    <div class="gallery-item-type">
                        <span class="visually-hidden">Video</span>
                        <i class="fas fa-clone" aria-hidden></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81317/list.street_list_627c907349f2a.jpg.250?20220512134536"
                        alt="Gallery-1" class="gallery-image">
                    <div class="gallery-item-type">
                        <span class="visually-hidden">Gallery</span>
                        <i class="fas fa-clone" aria-hidden></i>
                    </div>
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gallery-item" tabindex="0">
                    <img src="https://image.musinsa.com/mfile_s01/_street_images/81312/list.street_list_627c914846981.jpg.250?20220503090417"
                        alt="Gallery-1" class="gallery-image">
                    <div class="gallery-item-info">
                        <ul>
                            <li class="gallery-item-likes">
                                <span class="visually-hidden">Likes:</span>
                                <i class="fas fa-heart" aria-hidden="aria-hidden"></i>
                                56
                            </li>
                            <li class="gallery-item-comments">
                                <span class="visually-hidden">Comments:</span>
                                <i class="fas fa-comment" aria-hidden="aria-hidden"></i>
                                2
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end of gallery -->
        </div>

        <div class="loader"></div>
    </main>

</body>