<body>
    <h1>Upload Image</h1>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="userfile">
        <input type="submit">
    </form>
</body>

<!-- npm install --save multer -->
<!-- action 부분 index.ejs? -->